<div class="container challenge_comments">

      <input type="text" name="comment" id="comment">
      <button class="submit_comment">Add comment</button>
    </form>
    <% binding.pry %>
      <div class="comments">
      <% @challenge.comments.each do |comment| %>
        <p><span class="comment_author"><%= comment.user.username%></span>
        <span class="comment_body"><%= comment.body %></span></p>
      <% end %>
      </div>

</div>
